$colorPrincipal: #B1AFFF;

$colorEstable: #C8FFD4;
$colorAlerta: #FDFDBD;
$colorCritico: #FFA69C;

$colorAcento: #8DD7FF;

$negro: #000;
$blanco: #FFF;

$font-family: 'Poppins', sans-serif;
$font-size: 16px;

$header-height: 90px;