@import 'variables';

//Container del boton Agregar Tarea
#agregarNota-container{
    width: 100%;
    height: auto;
    //background-color: darken($blanco, 5%);
    display: flex;
    justify-content: right;
    align-items: center;
    //padding: 1rem;
    border-radius: 5px;
}