@import 'variables';

//Container del boton Agregar Tarea
#agregarNota-container{
    width: 100%;
    height: auto;
    background-color: darken($blanco, 5%);
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}

//boton Agregar Tarea
#botonAgregarNota{
    padding: 0.75rem;
    background-color: $colorAcento;
    color: $blanco;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: $font-family;
    border-radius: 5px;

    &:hover{
        background-color: darken($colorAcento, 10%);
    }
}